/* App.css */
.row {
  display: flex;
}
.display-1{
  font-family: cursive;
  font-size: xx-large;
  text-align: center;
  font-style: italic;
}
.col {
  flex: 1;
  padding: 20px;
}


h2 {
  margin-bottom: 10px;
  font-family: cursive;
  font-size: medium;
  text-align: center;
  font-style: italic;

}

ul {
 
  text-align: center;
  color: #fcf8f8;
  text-decoration: none;
  font-style: italic;
}

li {
  margin-bottom: 5px;
}


.lyric-container {
  margin-top: 20px;
}

.lyric-container h2 {
  margin-bottom: 10px;
}

.lyrics{
  white-space: pre-line;
  text-align: center;
  font-style: italic;

}

ul.a {
  color: #302f2f;
  
}



.track-item {
  /* Your desired animation styles for track names */
  animation-name: fade-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.artist-item {
  /* Your desired animation styles for artist names */
  animation-name: slide-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.artists,.lyrics{
  text-decoration:none; /* Remove underline */
}
.lyrics-item{
  animation-name: slide-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
}
}