/* App.css */

.row {
  display: flex;
}

.display-1{
  font-family: cursive;
  font-size: xx-large;
  text-align: center;
  font-style: italic;
}
.col {
  flex: 1;
  padding: 20px;
}


h2 {
  margin-bottom: 10px;
  font-family: cursive;
  font-size: medium;
  text-align: center;
  font-style: italic;

}

ul {
 
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-style: italic;
}

li {
  margin-bottom: 5px;
}


.lyric-container {
  margin-top: 20px;
}

.lyric-container h2 {
  margin-bottom: 10px;
}

.lyrics{
  white-space: pre-line;
  text-align: center;
  font-style: italic;
  color: #fcf8f8;

}

ul.a {
  color: #302f2f;
  
}



.track-item {
  /* Your desired animation styles for track names */
  animation-name: fade-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.artist-item {

  animation-name: slide-in;
  animation-duration: 0.5s;
  
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.artists,.lyrics{
  text-decoration:none; /* Remove underline */
  color: #000000;
}
.lyrics-item{
  animation-name: slide-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
}
}
.lyricsh2{
  color: #fcf8f8;
}
footer{
  font-family: cursive;
  font-style: italic;
  text-align: center;
  bottom: auto;
}

.buttonartists{
           
  
background-image: linear-gradient(to right, #6a3093 0%, #a044ff  51%, #6a3093  100%);
width: 100%;
margin: 5px;
text-align: center;
transition: 0.5s;
background-size: 200% auto;
color: white;            
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;

 
}