/* App.css */

.row {
  display: flex;
}
#containerfluid{
opacity: 0.6;
}
.display-1{
  font-family: cursive;
  font-size: xx-large;
  text-align: center;
  font-style: italic;
  color: #fff;
}
.col {
  flex: 1;
  padding: 20px;
}
.h2lyrics,.h2artists,.h2tracks{
  color: #fff;
}

h2 {
  margin-bottom: 10px;
  font-family: cursive;
  font-size: medium;
  text-align: center;
  font-style: italic;
  

}

ul {
 
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  font-style: italic;
}

li {
  margin-bottom: 5px;
}

/* body {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(70deg, rgba(122, 8, 122, 1) 30%, rgba(22, 22, 35, 1) 30%, rgba(22, 22, 35, 1) 100%);
  background-position: center center;
} */
.lyric-container {
  margin-top: 20px;
}

.lyric-container h2 {
  margin-bottom: 10px;
}



ul.a {
  color: #302f2f;
  
}



.track-item {
  /* Your desired animation styles for track names */
  animation-name: fade-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.artist-item {

  animation-name: slide-in;
  animation-duration: 0.5s;
  
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.artists,.lyrics{
  text-decoration:none; /* Remove underline */
  color: #000000;
}
.lyrics-item{
  animation-name: slide-in;
  animation-duration: 0.5s;
  /* Add more animation properties as needed */
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
}
}
.lyrics{
  font-family: cursive;
   white-space: pre-line;
  text-align: center;
  font-style: italic;
  color: #fcf8f8;
}

.lyricsh2{
  color: #fcf8f8;
}
footer{
  font-family: cursive;
  font-style: italic;
  text-align: center;
  bottom: fixed;
  color: #ecdede;
  
}

.buttonartists,.buttontracks{
      
background-image: linear-gradient(to right, #8857ac 0%, #954fdb  51%, #823093  100%);
width: 100%;
margin: 5px;
text-align: center;
transition: 0.5s;
background-size: 100% auto;
color: rgb(236, 227, 227);            
box-shadow: 0 0 20px #665966;
border-radius: 25px;
display: block;
background-position: right center; /* change the direction of the change here */
color: #fff;
font-family: cursive;
text-decoration: none;

 
}